.block {
    display: block;
}

.widthFull {
    width: 100%;
}

.smallMarginLeft {
    margin-left: 0.5em;
}

.mediumMarginRight {
    margin-right: 1em;
}

.cursorDefault {
    cursor: default;
}


.minWidth8 {
    min-width: 8em;
}

.well-honey {
    background-color: honeydew;
}

.well-blue {
    background-color: #A9E7F9;
}