.containerTop {
    margin: 0 auto auto auto;
    width: 90%;
    height: 80%;
}

.inline {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.minWidth8 {
    min-width: 8em;
}